## All the side effect files that can come from building latex project.
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bib
*.blg
*.dvi
*.fdb_latexmk
*.fff
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.ps
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

## Mac hidden files.
.DS_Store

## Some text editors often create these
~.*
*~
